.container
  .well
    h3 About
    p Shane Mullan was a young Software Engineer who first joined the company in 2013. Shane was a talented young man with a keen interest in Corporate Social Responsibility (CSR) related activities.

    p Sadly, he passed away in July 2015 and his family, friends and colleagues are coming together on Saturday 13th August 2016 to remember and celebrate his life in a fundraising event for SOS Bus NI, his family’s chosen charity. Shane was part of a Civica team who volunteered with SOS in 2015.  After spending time with the SOS team on the streets of Belfast, he shared his thoughts on his experience.

    div(class="quotation")
        p “I was really impressed by everyone’s attitude on the bus, so much compassion and unconditional support. They were open minded, non-judgmental, no agenda, had great empathy and really seemed to understand the problems of the people on the streets. If more people were like this the world would be a better place.”

    p After lunch on Saturday 13th August, a new ‘state of the art’ SOS facility will be dedicated in Shane’s memory.

    p All fundraising proceeds from this event will go to SOS Bus NI.

    img(style="display: block; margin: auto;" src="assets/Shane3.png")
