.container
  .well
    h2 Stroll of Sprint to Celebrate Shane Mullan <img style="float: right; margin: 0px 15px 15px 0px;" src="assets/Shane3.png" width="400" height="230" />
    p Civica, with the help of SOS Bus NI are running our ‘Stroll or Sprint’ event, to remember Shane at Castlewellan Forest Park on Saturday 13th August 2016 from 09:30 - 14:30. This event is facilitated by outdoor specialists Life Adventure Company and is open to family and friends of Shane, along with Civica colleagues, SOS NI, family and friends.
    h2 About the event 
    p Shane Mullan was a young engineer who first joined the company in 2013.  He was talented young man with a great interest in Corporate Social Responsibility (CSR) related activities.  Sadly he passed away in August 2015 and his colleagues, family and friends are coming together on Saturday 13th August to remember and celebrate his life in a fundraising event for his family’s chosen charity, SOS Bus NI.  Shane was a volunteer for SOS in 2015 and after spending time with the SOS team on the streets of Belfast, he had the following to say…
    p "I was really impressed by everyone’s attitude on the bus, so much compassion and unconditional support. They were open minded, non-judgemental, no agenda, had great empathy and really seemed to understand the problems of the people on the streets. If more people were like this the world would be a better place.”
    p At this event a new ‘state of the art’ SOS facility will be dedicated in Shane’s memory.
    p All fundraising proceeds will go to SOS Bus NI, the chosen charity of Shane Mullan’s family. 