html {
    height: 100%;
}

body {
    margin: 5pc;
    background-repeat: no-repeat;
    background: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #4f1c77;
}

.navbar-brand:hover {
    background-color: darkslateblue !important;
    color: ghostwhite !important;
}

.navbar-nav li a:hover {
    background-color: darkslateblue !important;
    color: ghostwhite !important;
}

.well {
    background-color: lightgoldenrodyellow;
    min-height: 50pc;
    max-height: 50pc;
}

.btn {
    min-width: 100px;
    max-width: 100px;
    margin-left: 40px;
    margin-right: 40px;
    vertical-align: bottom;
}