body(style="background-color: #ffdf42;")
    div(style="text-align: center;margin-top:10pc;border:1px black solid;")
        h1 Almost There
        h2 This site is currently under construction, check back soon!