.container
  .well
    h3 Contact Us
    h4 EVENT & REGISTRATION QUERIES

    p If you have any queries about the event or registration, then please feel free to contact us via one of the below means:

    p Email: 
      a(href="mailto:cdsi-csr@civica.co.uk?Subject=Stroll%20or%20Sprint%20query") cdsi-csr@civica.co.uk

    p Phone: 028 907 25000 and ask for Irene or Sophie

    h4 CHARITY QUERIES

    p If you would like to find out more about SOS NI, volunteer or donate, please visit:

    p
      a(href="http://www.sosbusni.com" target="_blank") www.sosbusni.com

    h4 VENUE QUERIES

    p If you would like to find out more about Life Adventure Centre and their facilities, please visit:

    p
      a(href="http://www.lifeadventureco.com" target="_blank") www.lifeadventureco.com
