.container
    .well
        h3 Location
        div(style="text-align: center;")
            p The Grange Yard
            p The Forest Park
            p Castlewellan
            p County Down
            p BT31 9BU    
        div(id="map")
        img(style="display: block; margin: auto;" src="assets/castlewellen4.png")
script(type="text/javascript", src="/app/scripts/google-maps.js")
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrVKQkU5fbw_ISHUoxVkP8V3V5OYRaCzM&callback=initMap")