.container
    .well
        h3 Location
        div(style="text-align: center;")
            p The Grange Yard
            p The Forest Park
            p Castlewellan
            p County Down
            p BT31 9BU    
        div(id="map") 
        script. function initMap() { var mapDiv = document.getElementById('map'); var map = new google.maps.Map(mapDiv, { center: {lat: 44.540, lng: -78.546}, zoom: 8 }); 
        script. async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrVKQkU5fbw_ISHUoxVkP8V3V5OYRaCzM&callback=initMap"