.container
  .well
    h2 Team Adventure Challenge
    p <b>The mimimum age for an entrant is 11 years old and they must be accompanied by an adult! </b> 
    p For those who want to test themselves, why not take part in a Team Adventure Challenge?
    p Your team will set out to navigate a 'macro' based star orienteering course. You will face obstacles, both mental and physical throughout the 10k course in an aim to win points by either attaining an orienteering marker, or completing a task.
    p Tasks include: Field Archery, Tangram (Oriental Jigsaw), Open Caoeing, Dominoes (Numerical Puzzles), and crazy cycle. 
    p <b><i>The team who scores the highest wins... Will you play smarter or harder?</i></b>
    p Team Size: 6 members, those who want to enter as a single entrant will be allocated teams on the day. 