.container
  .well
    h3 Team Adventure Challenge
    p For those who want to test themselves, why not take part in a Team Adventure Challenge?

    p Your team will set out to navigate a ‘macro’ based star orienteering course, facing obstacles, both mental and physical throughout the 10k route, to win points by either attaining an orienteering marker, or successfully completing a task.

    p Tasks include: Field Archery, Tangram (Oriental Jigsaw), Open Caoeing, Dominoes (Numerical Puzzles), and Crazy Cycle.

    p
      b The team who scores the highest wins… will you play smarter or harder?

    p
      b Young people under the age of 17 should be accompanied by an adult; minimum age restriction of 11 years old is applicable for this event.

    p
      b Registration Time: 09:30

    p
      b Registration Location:  The Grange Yard, The Forest Park, Castlewellan, BT31 9BU

    p
      b Start Time: 10:00 SHARP!

    p
      b Finish Time: 13:00 This will be a timed challenge, so you have plenty of time to eat your BBQ lunch!

    p
      b Registration Fee: £10 per person

    p 
      b Fee includes:
    ul
      li Return transport from Weavers Court Business Park in Belfast to Castlewellan via SOS Mini Bus OR entry and parking at Castlewellan
      li Tea/coffee/juice on arrival
      li Survival goodies!
      li Team Adventure Activities with expert instruction and supervision from Life Adventure Team
      li BBQ lunch

    p
      b Team Size: 6 members in each team. 

    p
      i Anyone who enters as a single entrant will be allocated a team at registration HQ
    .col-md-6
      img(style="display: block; margin: auto;" src="assets/archery.png")
    .col-md-6
      img(style="display: block; margin: auto;" src="assets/canoeing.png")
