.container
  .well
    h2 Lakeside Walk
    p <i> Start Time: From 10:00 am for Lakeside Walk participants and Spectators
    p Finish Time: By 12:30 pm all participants are to return to the Courtyard for lunch
    p Registration Fee: £5 per adult/£2.50 per child under 11
    p Fee includes: Parking or return transport from Belfast to Castlewellan, tea/coffee/juice on arrival, registration pack (?), BBQ lunch </i>
    p The lakeside walk circumnavigates Castlewellan Lake and provides good views of Slievenaslat and Castlewellan Castle. This trail leads around Castlewellan Lake, with excellent views across the lake and the surrounding woodland the trail passes close to the Ice House and the iconic Castle built in 1856. 
    p This 3.9km walk is suitable for most people in good health including those with limited mobility and most buggies. Path surfaces are even and consistent throughout and the gradient is relatively flat.  Please note that dogs are also welcome, although please keep them on a lead. 
    p Life Adventure Centre will provide trail maps for all participants, and will also post some volunteers around the trail so you are guaranteed to find your way back to the Courtyard in time for lunch! To add a little bit of excitement to your walk, you will be asked to keep an eye out for some hidden jigsaw pieces on your journey...  If you're lucky enough to find one, bring it back to the Courtyard for a surprise at the end of the day!
    h2 Be an Active Spectator...
    p Spectators and well wishers for the Team Adventure challenge will be provided with a map of where each of the events will take place around the lake (will they though?). You could follow your favourite team around the course to encourage them, or station yourself at your favourite event!  
    h2 Other Facilities
    p <b>Play Trail</b> - The Natural Play Trail (where is it?) is for children aged between 4 and 11 years. It's the first of it kind in Castlewellan and is made almost entirely out of natural materials. It includes basket swings, a lookout tower, amphitheatre, story teller's chair and seats as well as a bespoke climbing wall.
    p <b>Peace Maze and Gardens</b> - The Peace Maze is one of the world's largest permanent hedge mazes, representing the path to a peaceful future for Northern Ireland. Planted in 2000 with community involvement, it is maturing quickly and visitors attempt to solve their way to the peace bell in the centre of the maze. The total distance including the Peace Maze and Gardens is around 6 miles and fully accessible for wheelchairs, mobility scooters and buggies.
    p Within Life Adventure Centre, there are changing facilities, showers, washrooms and a coffee dock and within the Castlewellan Courtyard, there is a tea room and washrooms with baby changing facilities.
