h3 Lakeside Stroll and Event Spectators
h4 Enjoy the lakeside stroll
p The relaxed lakeside walk circumnavigates Castlewellan Lake and provides good views of Slievenaslat and Castlewellan Castle, with excellent views across the lake and surrounding woodland. The trail passes close to the Ice House and the iconic Castle built in 1856.

p This 3.9km walk is aimed at all abilities, including those with limited mobility.  Path surfaces are even and consistent throughout and the gradient is relatively flat, making this walk suitable for children in buggies. Dogs are also welcome, although please keep them on a lead.

p Life staff will provide a verbal brief before setting off and a trail map to show the lakeside route as well as the location of the other facilities in the surrounding park (see ‘Other Facilities’ below).

p There will be some volunteers around the trail so you are guaranteed to find your way back to the Grange Yard in time for lunch! To add a little bit of excitement to the walk, you will be asked to keep an eye out for some hidden jigsaw pieces on the journey… if you’re lucky enough to find one, bring it back to the Grange Yard for a surprise at the end of the day!

img(style="display: block; margin: auto;" src="assets/castlewellen1.png")

h4 Be a spectator

p Spectators and well-wishers for the Team Adventure challenge will be provided with a map of where each of the challenges will take place around the lake. You could follow your favourite team around the course to encourage them, or station yourself at the most exciting challenge!

h4 Event details

p <b>Registration Time:</b> From 10:00

p <b>Registration Location:</b>  The Grange Yard, The Forest Park, Castlewellan BT31 9BU

p <b>Start Time:</b> From 10:30 

p <b>Finish Time:</b> By 12:30 all participants to return to the Grange Yard for lunch

p <b>Registration Fee:</b> £5 per adult/£2.50 per child, 11y and under

p <b>Fee includes:</b>
ul
  li Return transport from Weavers Court Business Park in Belfast to Castlewellan via SOS Mini Bus OR entry and parking at Castlewellan
  li Tea/coffee/juice on arrival
  li Trail map
  li BBQ lunch

h4 Other facilities

p <b>Play Trail –</b> The Natural Play Trail is for children aged between 4 and 11 years. The trail is made almost entirely out of natural materials. It includes basket swings, a lookout tower, amphitheatre, story teller’s chair and seats as well as a bespoke climbing wall.

p <b>Peace Maze and Gardens –</b> The Peace Maze is one of the world’s largest permanent hedge mazes, representing the path to a peaceful future for Northern Ireland. Planted in 2000 with community involvement, it is maturing quickly and visitors attempt to solve their way to the peace bell in the centre of the maze. The total distance including the Peace Maze and Gardens is around 6 miles and fully accessible for wheelchairs, mobility scooters and buggies.

p <b>Washrooms and Changing –</b> Within Life Adventure Centre, there are changing facilities, showers and washrooms and elsewhere within the Grange Yard, there are washrooms with baby changing facilities.

p <b>Refreshments –</b> As well as receiving tea/coffee/juice on arrival and a BBQ lunch within your registration fee, the Life Adventure Centre has a coffee dock on their premises, and there is a separate tea room located within the Grange Yard which sells tea/coffee, sandwiches and some hot food.  Please note any refreshments purchased from Life Adventure Centre and the Tea Rooms are not included in your fee.

.col-md-6
  img(style="display: block; margin: auto;" src="assets/castlewellen2.png")
.col-md-6
  img(style="display: block; margin: auto;" src="assets/castlewellen3.png")


