.container
  .well
    h1 Stroll or Sprint to Celebrate Shane <img style="float: right; margin: 0px 15px 15px 0px;" src="assets/Shane2.png" width="400" height="250" />
    h3 Celebrating the life of Shane Mullan
    p <i> Where: Castlewellan Forest Park
    p When: Saturday 13th August
    p From: 8.30am - 2pm </i>
    p SOS minibuses will be running from Weavers Court to Castlewellan.  As there is only 40 spaces available, seats will be offered on a first come, first serve basis. Ample parking on site at Castlewellan Forest Park. Fees range between £5.00 - £10.00 (£2.50 for a child). Your registration fee includes refreshments on arrival, BBQ lunch, parking at Castlewellan OR your return transport to and from. 
    p All fundraising proceeds will go to SOS Bus NI, the chosen charity of Shane Mullan’s family. As such we would encourage everyone to wear something yellow :)  
    h3 At the event... <img style="float: right; margin: 0px 15px 15px 0px;" src="assets/Shane1.png" width="400" height="250" />
    p For those of you who are feeling adventurous, you can take part in the Team Challenge
    p Even if you don't want to sign up for the Team Adventure Challenge, this event has a wealth of activities to offer you, your friends and family! 
    p From a stunning lakeside walk, cheering on the Team Adventure participants, a play park and Peace Maze for the kids, we can guarantee you won't be bored before lunch!