h3 A very warm welcome to family, friends and colleagues of Shane
p Civica, with the help of SOS Bus NI, is hosting a ‘Stroll or Sprint’ event, to celebrate Shane’s life at Castlewellan Forest Park on Saturday 13th August 2016 from 09:30–14:30. This event is facilitated by outdoor specialists Life Adventure Company and is open to family and friends of Shane, along with colleagues from Civica and SOS.

img.img-responsive(style="display: block; margin: auto;" src="assets/Shane4.png" alt="Shane")

p On this site, you will find more details and can register for the activities available.  All pages are accessible via the navigation bar above.

p We look forward to seeing everyone on Saturday 13th August.